@use "../theme/core" as *;
@use "../theme/patterns";
@use "../theme/tokens/space";
@use "../theme/tokens/text";

.root {
  margin-bottom: space.lg();

  &:last-child {
    margin-bottom: 0;
  }
}

@include patterns.section-head(text.x2xl(), space.md(), space.md());

.body {
  > :last-child {
    margin-bottom: 0;
  }
}

@include print {
  .head {
    break-after: avoid;
  }
}
