@use "../theme/core" as *;
@use "../theme/patterns";
@use "../theme/tokens/space";
@use "../theme/tokens/text";

.root {
  margin-bottom: space.xl();

  > :last-child {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@include patterns.entry-head(text.x2xl(), space.x2s(), space.xs(), space.md());

@include print {
  .head {
    break-after: avoid;
    break-inside: avoid;
  }
}
