@use "../token";

$-values: (
  xs: 4,
  sm: 8,
  md: 12,
  lg: 16,
);

@mixin root {
  @include token.scale("radius", $-values);
}

@function -radius($name) {
  @return token.ref("radius", $name);
}

@function xs() {
  @return -radius("xs");
}

@function sm() {
  @return -radius("sm");
}

@function md() {
  @return -radius("md");
}

@function lg() {
  @return -radius("lg");
}
