@use "../theme/patterns";
@use "../theme/tokens/space";
@use "../theme/tokens/text";

.root {
  display: grid;
  gap: space.x2xl();
  padding: 0;
  margin: 0;
  list-style: none;
}

.entry {
  > :last-child {
    margin-bottom: 0;
  }
}

@include patterns.entry-head(text.pull(), space.xs(), space.md(), space.lg());
