@use "../theme/patterns";
@use "../theme/tokens/color";
@use "../theme/tokens/leading";
@use "../theme/tokens/space";
@use "../theme/tokens/text";
@use "../theme/tokens/weight";

.root {
  display: grid;
  gap: space.x2xl();
  padding: 0;
  margin: 0;
  list-style: none;
}

.entry {
  > :last-child {
    margin-bottom: 0;
  }
}

@include patterns.meta(space.md(), space.xs());

.title {
  padding-bottom: space.md();
  margin: 0 0 space.lg();
  font-size: text.x2xl();
  font-weight: weight.semibold();
  line-height: leading.snug();
  border-bottom: 1px solid color.line-strong();
}
