@use "../core" as *;

@page {
  size: a4;
  margin: 13mm;
}

@include print {
  html {
    scroll-behavior: auto;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body {
    background: none;
  }

  p,
  li {
    widows: 3;
    orphans: 3;
  }
}
