@use "../theme/core" as *;
@use "../theme/materials";
@use "../theme/tokens/space";

p.label {
  @include print {
    break-after: avoid;
  }

  margin: space.lg() 0 space.md();
}

.list {
  padding: 0;
  margin: 0 0 space.lg();
  list-style: none;

  li {
    @include print {
      break-inside: avoid;
    }

    position: relative;
    padding-left: space.xl();
    margin-bottom: space.sm();

    &::before {
      @include materials.dot;

      position: absolute;
      top: 0.62em;
      left: space.xs();
    }
  }
}
