@use "../theme/core" as *;
@use "../theme/tokens/space";

.root {
  display: grid;
  gap: space.lg();
}

.group {
  @include print {
    break-inside: avoid;
  }

  display: grid;
  gap: space.xs();
}
