@use "../theme/core" as *;
@use "../theme/primitives";
@use "../theme/tokens/color";
@use "../theme/tokens/space";
@use "../theme/tokens/text";

.root {
  display: grid;
  gap: space.lg();
}

.group {
  @include print {
    break-inside: avoid;
  }

  display: grid;
  gap: space.xs();
}

.label {
  @include primitives.label(text.xs());

  margin: 0;
  color: color.ink-fade();
}
