@use "../theme/core" as *;
@use "../theme/tokens/color";
@use "../theme/tokens/text";
@use "../theme/tokens/tracking";
@use "../theme/tokens/weight";

.root {
  margin: 0;
  font-size: text.sm();
  font-weight: weight.medium();
  line-height: 1;
  color: color.mark();
  text-transform: uppercase;
  letter-spacing: tracking.wide();
}
