@use "../theme/core" as *;
@use "../theme/materials";
@use "../theme/tokens/space";

.root {
  display: grid;
  gap: space.lg();
  padding: 0;
  margin: 0 0 space.lg();
  list-style: none;
}

.project {
  @include materials.well-sheer;

  @include print {
    break-inside: avoid;
  }

  display: grid;
  gap: space.md();
  padding: space.lg();
}

.note {
  margin: 0;
}
