@use "../theme/materials";
@use "../theme/primitives";
@use "../theme/tokens/color";
@use "../theme/tokens/space";
@use "../theme/tokens/text";

.root {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.role {
  display: inline-flex;
  align-items: center;
  color: color.accent();

  &:not(:first-child)::before {
    @include materials.diamond;

    flex: none;
  }
}

.sm {
  gap: space.sm();

  .role {
    @include primitives.label(text.sm());

    gap: space.sm();
  }
}

.xs {
  gap: space.xs();

  .role {
    @include primitives.label(text.xs());

    gap: space.xs();
  }
}
