@use "../theme/core" as *;
@use "../theme/materials";
@use "../theme/primitives";
@use "../theme/tokens/space";
@use "../theme/tokens/text";
@use "../theme/tokens/weight";

.root {
  @include print {
    break-inside: avoid;
  }

  display: grid;
  gap: space.md();
}

.title {
  @include primitives.heading(text.pull());
}

.note {
  margin: 0;
}

.links {
  @include primitives.row-list(space.sm());

  a {
    @include primitives.control(space.xs());
    @include materials.interactive-soft;

    height: r(32);
    padding: 0 space.md() 0 space.sm();
    font-size: text.md();
    font-weight: weight.medium();
    line-height: 1;
  }

  li:first-child a {
    @include materials.interactive-primary;
  }
}
