@use "../theme/core" as *;
@use "../theme/materials";
@use "../theme/primitives";
@use "../theme/tokens/space";
@use "../theme/tokens/text";
@use "../theme/tokens/weight";

.root {
  @include primitives.control(space.xs());

  font-weight: weight.semibold();
  line-height: 1;
  white-space: nowrap;
}

.md {
  height: r(32);
  padding: 0 space.md() 0 space.sm();
  font-size: text.md();
}

.lg {
  gap: space.sm();
  height: r(40);
  padding: 0 space.lg() 0 space.md();
  font-size: text.lg();
}

.primary {
  @include materials.interactive-primary;
}

.ghost {
  @include materials.interactive-soft;
}
