@use "../theme/core" as *;
@use "../theme/tokens/color";
@use "../theme/tokens/space";
@use "../theme/tokens/text";
@use "../theme/tokens/weight";

.root {
  @include hover {
    &:hover .value {
      border-bottom-color: currentcolor;
    }
  }

  display: inline-flex;
  gap: space.xs();
  align-items: center;
  font-size: text.md();
  font-weight: weight.medium();
  line-height: 1;
  color: color.ink-soft();
  text-decoration: none;
  border: 0;
}

a.root .value {
  border-bottom: 1px solid transparent;
}
