@use "../theme/core" as *;
@use "../theme/tokens/color";
@use "../theme/tokens/space";

.root {
  display: grid;
  gap: space.x2xl();
  padding: 0;
  margin: 0;
  list-style: none;
}

.entry {
  > :last-child {
    margin-bottom: 0;
  }
}

.head {
  @include print {
    break-after: avoid;
    break-inside: avoid;
  }

  padding-bottom: space.md();
  margin-bottom: space.lg();
  border-bottom: 1px solid color.line-strong();
}
