@use "../theme/core" as *;

.root {
  animation: reveal 1ms linear both;
  animation-timeline: view();
  animation-range: entry calc(10% + var(--i, 0) * 5%) entry calc(70% + var(--i, 0) * 5%);
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(#{r(18)});
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@include print {
  .root {
    animation: none;
  }
}
