@use "../theme/core" as *;
@use "../theme/primitives";
@use "../theme/tokens/color";
@use "../theme/tokens/metrics";
@use "../theme/tokens/space";
@use "../theme/tokens/text";
@use "../theme/tokens/tracking";

.root {
  @include primitives.wrap;

  padding: space.x2xl() 0;
  scroll-margin-top: calc(#{metrics.nav()} + #{space.lg()});
}

.head {
  @include print {
    break-after: avoid;
    break-inside: avoid;
  }

  margin-bottom: space.xl();

  &::after {
    display: block;
    width: 100%;
    height: #{r(2)};
    margin-top: space.md();
    content: "";
    background: linear-gradient(90deg, color.accent(), transparent);
  }
}

.title {
  @include primitives.heading(text.title());

  display: flex;
  gap: space.sm();
  align-items: center;
  letter-spacing: tracking.tight();
}

.icon {
  flex-shrink: 0;
  font-size: text.pull();
  line-height: 1;

  > * {
    translate: 0 0.04em;
  }
}
