@use "../theme/primitives";
@use "../theme/tokens/metrics";

.root {
  @include primitives.grid-center;
  @include primitives.square(metrics.tap());

  padding: 0;
  font-size: metrics.icon();
  cursor: pointer;
  background: none;
  border: 0;
}

.light {
  display: none;
}

@media (prefers-color-scheme: light) {
  .dark {
    display: none;
  }

  .light {
    display: block;
  }
}

:root[data-theme="dark"] {
  .dark {
    display: block;
  }

  .light {
    display: none;
  }
}

:root[data-theme="light"] {
  .dark {
    display: none;
  }

  .light {
    display: block;
  }
}
