@use "../theme/core" as *;
@use "../theme/tokens/space";

.root {
  padding: space.x2xl();
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(#{r(352)}, 100%), 1fr));
  gap: space.sm() space.x2xl();
}

@include mobile {
  .root {
    padding: space.xl() space.lg();
  }
}
